    style.css #bloc_page {
        width: auto;
    }
    
    * {
        box-sizing: border-box;
    }
    /* ................mobiles...................................media queries responsive version portable........................................ */
    
    @media screen and (max-width: 480px) {
        body {
            flex-direction: column;
            margin: 0;
            padding: 0;
            max-height: 100%;
            max-width: 100%;
        }
        header {
            display: flex;
            height: auto;
            width: 100%;
            align-items: center;
            text-align: center;
            background-color: #fa5b00;
            color: white;
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 20px;
            padding-top: 20px;
            font-size: 35px;
            color: white;
        }
        main {
            display: flex;
            height: auto;
            width: 100%;
            flex-direction: column;
            flex-wrap: wrap;
            background-color: #77b4c7;
        }
        .section1 {
            display: flex;
            width: 100%;
            height: auto;
            flex-direction: column;
            justify-content: space-between;
            padding-bottom: 20px;
            padding-top: 20px;
        }
        .image-pile-container {
            display: flex;
            height: 290px;
            width: auto;
            align-items: center;
            justify-content: center;
        }
        .pilecv-image {
            display: flex;
            display: flex;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
        .container-réponse {
            display: flex;
            height: 100px;
            width: 100%;
            font-size: 50px;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding-left: 20px;
            padding-right: 20px;
            color: #fa5b00;
        }
        .section2 {
            display: flex;
            height: auto;
            width: 100%;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
        }
        .texte-convertion {
            display: flex;
            height: auto;
            width: 100%;
            color: white;
            background-color: #fa5b00;
            font-size: 35px;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 20px;
            padding-top: 20px;
        }
        .container-formatA4 {
            display: flex;
            height: 330px;
            width: 100%;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            padding-top: 20px;
            padding-bottom: 20px;
            font-size: 20px;
        }
        .texte-miseenligne {
            display: flex;
            height: auto;
            width: 100%;
            color: #fa5b00;
            font-size: 50px;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 20px;
            padding-top: 20px;
        }
        .CVweb-responsive-container {
            display: flex;
            height: 350px;
            width: 100%;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            padding-top: 20px;
            padding-bottom: 20px;
            padding-left: 10px;
            padding-right: 10px;
            font-size: 20px;
        }
        .section3 {
            display: flex;
            height: auto;
            width: 100%;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
        }
        footer {
            display: flex;
            height: auto;
            width: 100%;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            background-color: #fa5b00;
            font-size: 30px;
            color: white;
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 20px;
            padding-top: 20px;
        }
    }
    /*........................................... iPads, tablettes.... petits écrans, ordinateurs portables.............................*/
    
    @media screen and (min-width: 481px) and (max-width :1024px) {
        body {
            flex-direction: column;
            margin: 0;
            padding: 0;
            max-height: 100%;
            max-width: 100%;
        }
        header {
            display: flex;
            height: auto;
            width: 100%;
            justify-content: center;
            align-items: center;
            text-align: center;
            background-color: #fa5b00;
            color: white;
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 20px;
            padding-top: 20px;
            font-size: 35px;
            color: white;
        }
        main {
            display: flex;
            height: auto;
            width: 100%;
            flex-direction: column;
            flex-wrap: wrap;
            background-color: #77b4c7;
        }
        .section1 {
            display: flex;
            width: 100%;
            height: auto;
            flex-direction: column;
            justify-content: space-between;
            padding-bottom: 20px;
            padding-top: 20px;
        }
        .image-pile-container {
            display: flex;
            height: auto;
            width: auto;
            align-items: center;
            justify-content: center;
        }
        .pilecv-image {
            display: flex;
            display: flex;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
        .container-réponse {
            display: flex;
            height: 100px;
            width: 100%;
            color: #fa5b00;
            font-size: 50px;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding-left: 20px;
            padding-right: 20px;
        }
        .section2 {
            display: flex;
            height: auto;
            width: 100%;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
        }
        .texte-convertion {
            display: flex;
            height: auto;
            width: 100%;
            color: white;
            background-color: #fa5b00;
            font-size: 35px;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 20px;
            padding-top: 20px;
        }
        .container-formatA4 {
            display: flex;
            height: 330px;
            width: 100%;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            padding-top: 20px;
            padding-bottom: 20px;
            font-size: 20px;
        }
        .texte-miseenligne {
            display: flex;
            height: auto;
            width: 100%;
            color: #fa5b00;
            font-size: 50px;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 20px;
            padding-top: 20px;
        }
        .CVweb-responsive-container {
            display: flex;
            height: 350px;
            width: 100%;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            padding-top: 20px;
            padding-bottom: 20px;
            padding-left: 10px;
            padding-right: 10px;
            font-size: 20px;
        }
        .section3 {
            display: flex;
            height: auto;
            width: 100%;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
        }
        footer {
            display: flex;
            height: auto;
            width: 100%;
            align-items: center;
            justify-content: center;
            text-align: center;
            background-color: #fa5b00;
            font-size: 30px;
            color: white;
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 20px;
            padding-top: 20px;
        }
    }
    /* .................. ordinateurs de bureau, écrans larges.......................................*/
    
    @media screen and (min-width: 1025px) {
        body {
            flex-direction: column;
            margin: 0;
            padding: 0;
            max-height: 100%;
            max-width: 100%;
        }
        header {
            display: flex;
            height: auto;
            width: 100%;
            justify-content: center;
            align-items: center;
            text-align: center;
            background-color: #fa5b00;
            color: white;
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 20px;
            padding-top: 20px;
            font-size: 45px;
            color: white;
        }
        main {
            display: flex;
            height: auto;
            width: 100%;
            flex-direction: column;
            flex-wrap: wrap;
            background-color: #77b4c7;
        }
        .section1 {
            display: flex;
            width: 100%;
            height: auto;
            flex-direction: column;
            justify-content: space-between;
            padding-bottom: 20px;
            padding-top: 20px;
        }
        .image-pile-container {
            display: flex;
            height: auto;
            width: auto;
            align-items: center;
            justify-content: center;
        }
        .pilecv-image {
            display: flex;
            display: flex;
            height: 70%;
            width: 70%;
            object-fit: contain;
        }
        .container-réponse {
            display: flex;
            height: 100px;
            width: 100%;
            color: #fa5b00;
            font-size: 70px;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding-left: 20px;
            padding-right: 20px;
        }
        .section2 {
            display: flex;
            height: auto;
            width: 100%;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
        }
        .texte-convertion {
            display: flex;
            height: auto;
            width: 100%;
            color: white;
            background-color: #fa5b00;
            font-size: 45px;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 20px;
            padding-top: 20px;
        }
        .container-formatA4 {
            display: flex;
            height: 330px;
            width: 100%;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            padding-top: 20px;
            padding-bottom: 20px;
            font-size: 25px;
        }
        .texte-miseenligne {
            display: flex;
            height: auto;
            width: 100%;
            color: #fa5b00;
            font-size: 70px;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 20px;
            padding-top: 20px;
        }
        .CVweb-responsive-container {
            display: flex;
            height: 350px;
            width: 100%;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            padding-top: 20px;
            padding-bottom: 20px;
            padding-left: 10px;
            padding-right: 10px;
            font-size: 25px;
        }
        footer {
            display: flex;
            height: auto;
            width: 100%;
            align-items: center;
            justify-content: center;
            text-align: center;
            background-color: #fa5b00;
            font-size: 45px;
            color: white;
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 20px;
            padding-top: 20px;
        }
    }